{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'mainapp/favicon.ico' %}">
    {% block style %}
    <link rel="stylesheet" href="{% static 'mainapp/bootstrap/css/bootstrap.min.css' %}">
	<link href="{% static 'mainapp/css/Varela.css' %}" rel='stylesheet'>
	<link href="{% static 'mainapp/fontawesome-free-5.15.3-web/css/all.min.css'%}" rel="stylesheet" type="text/css">
    {% endblock %}

</head>
<body {% block body%}{% endblock %}>

    {% block content %}
    {% endblock %}

    {% block footer %}
	<footer class="text-center text-white">
        <!-- Grid container -->
        <div class="container">
          <!-- Section: Social media -->
          <section>
            <!-- Telegram -->
            <a class="btn btn-lg btn-outline-light btn-floating m-3 ml-auto" href="http://t.me/TShoKT" role="button"
              target="_blank"><i class="fab fa-telegram"></i
            ></a>      
            <!-- Instagram -->
            <a class="btn btn-lg btn-outline-light btn-floating m-3 ml-auto" href="https://www.instagram.com/__shokinit__" role="button"
              target="_blank"><i class="fab fa-instagram"></i
            ></a>
            <!-- Github -->
            <a class="btn btn-lg btn-outline-light btn-floating m-3 ml-auto" href="https://github.com/TShoKT/Django-DiscordOauth2" role="button"
              target="_blank"><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
  
        <!-- Copyright -->
        <div class="text-center p-3 footer">
          Copyright 2021 - 2022 ®️ All rights reserved.
        </div>
        <!-- Copyright -->
      </footer>
    {% endblock %}

    {% block js %}
    {% endblock %}    
</body>

</html>
