{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block style %} 
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/home.css' %}">
{% endblock %}
{% block body %}class="dark" data-spy="scroll" data-target=".navbar" data-offset="50"class="dark" data-spy="scroll" data-target=".navbar" data-offset="50"{% endblock %}
{% block content %}
	<br><br>
	<div class="container">
		<nav class="navbar navbar-expand-sm  navbar-dark ">
			<a class="navbar-brand mx-auto" href="#DiscordOauth2"><img class="rounded-circle" src="{% static 'mainapp/images/django_discord.png' %}"><span> DiscordOauth2</span></a>
		</nav> 
	</div>
	<div class="container" style="padding-top: 3vh;">
		<div class="jumbotron" id="maincontainer">
			<h4>Loading project Markdown from github...</h4>
		</div>	
		<div id="Auth"><span>⇘Click here to authenticate yourself⇙<br></span>
			<a href="{{auth_url}}" class="btn btn-lg shadow-none">Authentication</button>
		</div>	
	</div>
{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'mainapp/bootstrap/js/bootstrap.min.js' %}"></script>
<script>
	function markdownParser(markdown) {
		const htmlText = markdown
			.replace(/^# (.*$)/gim, '<h1>$1</h1>')
			.replace(/^## (.*$)/gim, '<h2>$1</h2>')
			.replace(/^### (.*$)/gim, '<h3>$1</h3>')
			.replace(/^#### (.*$)/gim, '<h4>$1</h4>')
			.replace(/^##### (.*$)/gim, '<h5>$1</h5>')
			.replace(/^###### (.*$)/gim, '<h6>$1</h6>')
			.replace("\n", '<br>')
		return htmlText.trim() 
	}
	fetch('https://raw.githubusercontent.com/TShoKT/Django-DiscordOauth2/main/README.md')
	.then(function(response) {
		response.text().then(function(text) {
			document.getElementById('maincontainer').innerHTML = markdownParser(text);
		});
	});
</script>
<script>
	$(document).ready(() =>{
		$(".navbar-brand").click(function(){
			$('html, body').animate({
				scrollTop: $($(this).attr("href")).offset().top
			}, 1000);
		});
	});
</script>
{% endblock %}
</body>
</html>